{% extends 'sporthub/base.html' %}

{% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small> <br>
            {% if object.author == user %}
            <div>
                <a class="btn btn-outline-success" href="{% url 'sporthub-update' object.id %}">Zaktualizuj</a>
                <a class="btn btn-outline-danger" href="{% url 'sporthub-delete' object.id %}">Usuń</a>
            </div>
            {% endif %}
        </div>
        <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
        <p class="article-content">{{ object.content }}</p>

        {% if object.distance %}
            <div>
                <h5>Dystans trasy:</h5>
                <p>{{ object.distance | floatformat:"2" }} km</p>
            </div>
        {% endif %}

        {% if object.time_taken %}
            <div>
                <h5>Czas pokonania trasy:</h5>
                <p>{{ object.time_taken }}</p>
            </div>
        {% endif %}
    dsdds

        {% if object.avg_heart_rate %}
            <div>
                <h5>Średnie tętno:</h5>
                <p>{{ object.avg_heart_rate }} bpm</p>
            </div>
        {% endif %}

        {% if object.calories %}
            <div>
                <h5>Spalone kalorie:</h5>
                <p>{{ object.calories }} kcal</p>
            </div>
        {% endif %}

        {% if object.avg_speed %}
            <div>
                <h5>Średnia prędkość:</h5>
                <p>{{ object.avg_speed | floatformat:"2" }} km/h</p>
            </div>
        {% endif %}

        {% if object.cadence %}
            <div>
                <h5>Kadencja:</h5>
                <p>{{ object.cadence }} rpm</p>
            </div>
        {% endif %}

        {% if object.max_heart_rate %}
            <div>
                <h5>Maksymalne tętno:</h5>
                <p>{{ object.max_heart_rate }} bpm</p>
            </div>
        {% endif %}

        {% if object.avg_power %}
            <div>
                <h5>Średnia moc:</h5>
                <p>{{ object.avg_power | floatformat:"2" }} W</p>
            </div>
        {% endif %}

        {% if object.max_power %}
            <div>
                <h5>Maksymalna moc:</h5>
                <p>{{ object.max_power | floatformat:"2" }} W</p>
            </div>
        {% endif %}
    </div>
</article>

<div class="text-center">
    {% if object.image %}
        <img class="img-fluid" style="width: 50%;" src="{{ object.image.url }}" alt="{{ object.title }}" data-toggle="modal" data-target="#exampleModal">
    {% endif %}
</div>

<div class="map-container" style="margin-top: 20px; position: relative;">
    <div id="map" class="map" style="position: absolute; top: 0; left: 0; width: 100%; height: 300px;  background-color: rgb(30, 29, 29);">
        {{ map_html|safe }}
    </div>
</div>

<div id="odstep"> </div>

<style>
body {
    background-color: #f4f7f6;  /* Jasny, neutralny kolor tła */
    color: #333333;
    background-size: contain;
    background-repeat: no-repeat;
}


#odstep {
    margin-top: 320px;
}
</style>

{% endblock content %}
