{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'sporthub/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
           <img style="height: 5%; width: 5%; margin-right: 10px" src="{% static 'sporthub/logo.png' %}">
            <h3 style="color:white;">SportHub</h3>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
{#              <a class="nav-item nav-link" href="{% url 'sporthub-home' %}">Strona główna</a>#}
{#              <a class="nav-item nav-link" href="{% url 'sporthub-about' %}">Trening</a>#}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <!-- <a class="nav-item nav-link" href="#">Login</a>
              <a class="nav-item nav-link" href="#">Register</a> -->
              <!-- <button class="noselect">Create Post</button> -->
<!--                <h3 style="color: white;">Hello {{request.user}}</h3>-->


                <a href="{% url 'logout' %}" id="auth-links">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Zaloguj się
            </a>
                {% else %}
              <a href="{% url 'login' %}" id="auth-links">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Zaloguj się
            </a>
            <a href="{% url 'register' %}" id="auth-links">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Zarejestruj się
            </a>

                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <Br>
    <main role="main" class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row w-100 justify-content-center">
        <div class="col-md-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="content-section">
                {% block content %}
                <form action="" method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h4>Wylogowano pomyślnie!</h4>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">
                            <a href="{% url 'login' %}" class="text-decoration-none text-dark">Zaloguj się ponownie</a>
                        </button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">Dołącz do naszej społeczności! <a href="{% url 'register' %}">Zarejestruj się</a></small>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</main>

        <div class="col-md-4">
          <div class="content-sectionw">

        </div>
      </div>



        <footer class="" >
          <ul class="nav justify-content-center border-bottom"  style="margin-top: 60px;">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="admin/" class="nav-link px-2 text-muted">Admin</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
        </footer>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>